    
    <div>
        <body>
        <h1 style="font-family:comic sans MS ;text-align:center;border:2px solid #944654;"> STUDENT MANAGEMENT </h1>
        <nav>
          <ul>
            <button style="font-family:comic sans MS;" routerLink="/students" >Student List</button>
          
            <button style="font-family:comic sans MS;" routerLink="/add-student">Add Student</button>

            <button style="font-family:comic sans MS;" routerLink="/schools">School List</button>

            <button style="font-family:comic sans MS;" routerLink="/add-school">Add School</button>
             </ul>
         
        </nav>
        <router-outlet></router-outlet>
        </body>
      </div>
   